@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 235vh;
    font-family: "Roboto";
}

/* first section 75vh
second section 50vh
third section 50vh
fourth section 50vh
fifth section 25vh */

.firstSection {
    height: 75vh;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
}

.header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}

.secondSection {
    height: 50vh;
}

.thirdSection {
    height: 50vh;
    background-color: #E5E7EB;
}

.fourthSection {
    height: 50vh;
}

.footer {
    height: 10vh;
}

.firstSection,
.footer {
    background-color: #1F2937;
}